@model AddNewEditCardPartialViewModel
@{
    string submitButtonText = "Save card";
    if (Model.IsForEdit)
        submitButtonText = "Save changes";
}

<input asp-for="Input.Card.Question" class="form-control" placeholder="Your question" />
<br />
@*<div id="Input_Card_Answer2" name="Input.Card.Answer2" class="border border-dark rounded"></div>
*@

<div id="editor" class="form-control border rounded-2">
    @Html.Raw(Model.Input.Card.Answer)
</div>

<textarea hidden asp-for="Input.Card.Answer" class="form-control" rows="4" placeholder="Your answer to question"></textarea>

<br />
<input asp-for="Input.Images" class="form-control mb-4">

@if (Model.IsForEdit)
{
    ShowImagesPartialViewModel showImagesPartialViewModel = new()
                {
                    IsForEdit = true,
                    Images = Model.Input.Card.Images
                };

    <partial name="/Pages/CardManagment/Partials/_ShowImagesPartial.cshtml" model="showImagesPartialViewModel"></partial>
}

<button id="submit" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> @submitButtonText</button>