@model AddNewEditCardPartialViewModel
@{
    string submitButtonText = "انبار کارت";
    if (Model.IsForEdit)
        submitButtonText = "انبار کردن دگرگونی ها";
}

<input asp-for="Input.Card.Question" class="form-control" placeholder="پرسش" />
<span asp-validation-for="Input.Card.Question" class="text-danger"></span>
<br />

<div id="editor" class="form-control border rounded-2">
    @Html.Raw(Model.Input.Card.Answer)
</div>

<textarea hidden asp-for="Input.Card.Answer" class="form-control" rows="4" placeholder="پاسخ خود را اینجا بنویسید ..."></textarea>
<span asp-validation-for="Input.Card.Answer"></span>

<br />
<input asp-for="Input.Images" class="form-control mb-4" placeholder="گزینش فایل برای بارگذاری ...">

@if (Model.IsForEdit)
{
    ShowImagesPartialViewModel showImagesPartialViewModel = new()
                {
                    IsForEdit = true,
                    Images = Model.Input.Card.Images
                };

    <partial name="/Pages/CardManagment/Partials/_ShowImagesPartial.cshtml" model="showImagesPartialViewModel"></partial>
}

<button id="submit" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> @submitButtonText</button>