@model long
@{
}

<form method="post" asp-controller="Card" asp-action="Add" enctype="multipart/form-data">
    <input hidden id="Input_Card_DeckId" name="Input.Card.DeckId" value="@Model" />
    @*<label for="Card_Question">Question</label>*@
    <input type="text" id="Input_Card_Question" name="Input.Card.Question" placeholder="Question" class="form-control" />
    <br />
    @*<label for="Card_Answer">Answer</label>*@
    <textarea type="text" rows="4" id="Input_Card_Answer" name="Input.Card.Answer" placeholder="Answer" class="form-control"></textarea>
    <br />
    <input class="form-control mb-4" type="file" id="Input_Image" name="Input.Image">
    <br />
    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save card</button>
</form>



