@page "/Card/Edit"
@model WebApp.Pages.CardManagment.EditModel
@{
    //Message
    SuccessErrorPartialViewModel message = null;

    if (Model.IsEdited is true)
    {
        message = new() { Message = "ویرایش انجام شد.", MessageType = MessageType.Success };
    }
    else
    {
        message = new() { Message = "ویرایش انجام نشد.", MessageType = MessageType.Error };
    }

    AddNewEditCardPartialViewModel addNewEditCardPartialViewModel = new()
            {
                IsForEdit = true,
                Input = new() { Card = Model.Input.Card, Images = Model.Input.Images }
            };

    //Show image
    ShowImagesPartialViewModel showImagesPartialViewModel = new()
            {
                IsForEdit = true,
                Images = Model.Input.Card.Images
            };
}

@if (Model.IsEdited is true)
{
    <partial name="_SuccessErrorMessagePartial" model="message" />
}
else if (Model.IsEdited is false)
{
    <partial name="_SuccessErrorMessagePartial" model="message" />
}


<div class="border border-dark rounded p-4 pt-2 mt-4 shadow">

    <h4 class="mt-4 rtl">ویرایش کارت</h4>

    <form method="post" enctype="multipart/form-data">
        <input hidden asp-for="Input.Card.Id" />
        <input hidden asp-for="Input.Card.DeckId" />
        <input asp-for="Input.Card.Question" class="form-control rtl mt-4" placeholder="پرسش" />
        <div class="rtl mt-1">
            <span asp-validation-for="Input.Card.Question" class="text-danger rtl"></span>
        </div>

        <div id="editor" class="form-control border rounded-2 mt-3">
            @Html.Raw(@Model.Input.Card.Answer)
        </div>
        <textarea hidden asp-for="Input.Card.Answer" class="form-control" rows="4" placeholder="پاسخ خود را اینجا بنویسید ..."></textarea>

        <div class="rtl mt-1">
            <span asp-validation-for="Input.Card.Answer" class="text-danger rtl"></span>
        </div>

        <input asp-for="Input.Images" class="form-control mt-3 mb-3 rtl" placeholder="گزینش فایل برای بارگذاری ...">

        <partial name="/Pages/CardManagment/Partials/_ShowImagesPartial.cshtml" model="showImagesPartialViewModel"></partial>

        <button id="submit" type="submit" class="btn btn-primary mt-2 rtl"><i class="fas fa-save"></i> ذخیره تغییرات</button>
    </form>

</div>

<a asp-page="@Pages.DeckManagment.DetailModel.AbsolutePath" asp-route-DeckId="@Model.Input.Card.DeckId" class="btn btn-outline-primary mt-4 shadow"><i class="fas fa-chevron-left"></i> برگشت</a>

@section Scripts
{
<script src="~/lib/fancybox/jquery.fancybox.min.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial"></partial>

}