<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" /> *@
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/fancybox/jquery.fancybox.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ckeditor-content-styles.css" type="text/css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" asp-append-version="true" /> *@
    @* <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> *@
    <link href="~/css/main-style.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
@*style="background-image:url('/img/patterns/pipe.png');background-repeat:repeat;background-attachment: fixed;"*@
<body class="bg-slate-50">
    @* <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-muted shadow rtl">
            <div class="container-fluid">
                <a class="btn-circle btn-l btn btn-outline-primary" asp-page="index"><i class="fa fa-home"></i></a>
                <div class="ltr" id="navbarsupportedcontent">
                    <button class="btn-circle btn-l btn btn-outline-primary"><i class="fa fa-user"></i></button>
                    <button class="btn-circle btn-l btn btn-outline-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </nav>
    </header>*@

    <div class="container mx-auto">
            @RenderBody()
    </div> 



    @*  <footer class="border-top footer text-muted">
        <div class="container">
        &copy; 2021 - _0010__ModelBinding - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
        </footer>*@


    <script src="~/js/bundle.js" asp-append-version="true"></script>

    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>