@model SuccessErrorPartialViewModel
@{
    string alertType = Model.MessageType switch
    {
        MessageType.Success => "alert-success",
        MessageType.Error => "alert-danger",
        _ => ""
    };
}

<div class="alert @alertType alert-dismissible fade show mt-4 mb-0 shadow" role="alert">
    @switch (@Model.MessageType)
    {
        case MessageType.Success:
            <i class="fas fa-check-circle"></i>
            break;
        case MessageType.Error:
            <i class="fas fa-exclamation-circle"></i>
            break;
    }

    @Html.Raw(Model.Message)
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>