@font-face {
    font-family: IranYekan_Bold;
    src: url(/font/iranyekanwebbold.woff2);
}

@font-face {
    font-family: IranYekan_ExtraBold;
    src: url(/font/iranyekanwebextrabold.woff);
}

@font-face {
    font-family: IranYekan_Medium;
    src: url(/font/iranyekanwebmedium.woff);
}

@font-face {
    font-family: IranYekan_Regular;
    src: url(/font/iranyekanwebregular.woff2);
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
    margin-bottom: 60px;
    font-family: IranYekan_Regular;
}


.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

/** {
    border: 1px solid #000
}*/

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle.btn-l {
    width: 45px;
    height: 45px;
    padding: 12px 12px;
    border-radius: 24px;
    font-size: 16px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;

}



/*.side-bar {
    width: 30%;
    height: 100%;
    border-right: 2px solid black;
    position: fixed;
    background-color:yellow;
}

.main2 {
    width: 70%;
    height: 550px;
    margin-left: 20%;
}*/

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

    /* Sidebar links */
    .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }

        /* Active/current link */
        .sidebar a.active {
            background-color: #04AA6D;
            color: white;
        }

        /* Links on mouse-over */
        .sidebar a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: left;
        }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}